feedparser
requests
beautifulsoup4
faiss-cpu
sentence-transformers
numpy
torch
transformers
accelerate
pydantic
fastapi
requests
uvicorn
# export PYTHONPATH=/Users/hugopuybareau/Documents/GitHub/Politics-RAG